body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

.flexy {
    position: absolute;
    top: 100px;
    bottom: 0;
    width:100%;
    display: flex;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#record-button {
    flex: 1;
    padding: 30px !important;
    margin: 20px;
    border: 2px solid darkorange;
    border-radius: 8px;
    background: oldlace;
    font-size: 110px;
}

.title-bar {
    padding: 16px;
    background-color: orangered;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
    color: white;
}

.greenish {
    color: limegreen;
}

.message {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px;
    margin: 9px 20px 5px 20px;
}