@{
    ViewData["Title"] = "Gym Tracker";
    var succeeded = TempData["Successful"] != null;
}

@if (succeeded)
{
<div class="message">
    <span class="greenish">✓</span>
    Logged!
</div>
}
<form action="/" method="POST">
    <div class="flexy">
        <input type="submit" id="record-button" value="⚡">
    </div>
</form>