@{
    ViewData["Title"] = "Gym Tracker";
    var succeeded = TempData["Successful"] != null;
}

@if (succeeded)
{
<div class="message">
    <span class="greenish">✓</span>
    Logged!
</div>
}
<form asp-controller="Home" asp-action="/" asp-antiforgery="true" method="post" role="form">
    <div class="flexy">
        <input type="hidden" name="tzOffsetMinutes" id="tzOffsetMinutes">
        <input type="submit" id="record-button" value="⚡">
        <script>
            var now = new Date();
            document.getElementById("tzOffsetMinutes").value = now.getTimezoneOffset();
        </script>
    </div>
</form>